In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("student_data.csv")
df.head()

,Student ID,Operating System,DSA,Frontend,Backend,Machine Learning,Data Analytics,Attendance (Operating System),Attendance (DSA),Attendance (Frontend),Attendance (Backend),Attendance (Machine Learning),Attendance (Data Analytics),Project 1,Project 2,Project 3,Project 4
0,1,88,78,68,70,86,86,75,97,86,74,76,83,Game Development,Web Development,Game Development,Data Science
1,2,65,68,78,92,84,64,71,83,97,96,96,97,Robotics,Web Development,AI,Game Development
2,3,73,69,82,74,67,76,96,91,99,84,70,85,Data Science,Web Development,Data Science,Web Development
3,4,85,95,58,52,89,51,79,91,70,96,76,86,Game Development,Data Science,Web Development,Game Development
4,5,64,55,70,50,84,58,74,87,86,81,94,91,AI,Cybersecurity,Cybersecurity,Web Development

In [3]:
df.isnull()

,Student ID,Operating System,DSA,Frontend,Backend,Machine Learning,Data Analytics,Attendance (Operating System),Attendance (DSA),Attendance (Frontend),Attendance (Backend),Attendance (Machine Learning),Attendance (Data Analytics),Project 1,Project 2,Project 3,Project 4
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum()

Student ID                       0
Operating System                 0
DSA                              0
Frontend                         0
Backend                          0
Machine Learning                 0
Data Analytics                   0
Attendance (Operating System)    0
Attendance (DSA)                 0
Attendance (Frontend)            0
Attendance (Backend)             0
Attendance (Machine Learning)    0
Attendance (Data Analytics)      0
Project 1                        0
Project 2                        0
Project 3                        0
Project 4                        0
dtype: int64

In [6]:
df.isnull().sum().sum()

np.int64(0)

In [8]:
df.shape

(1000, 17)

In [10]:
# Delete rows with missing values
df.dropna() 
# df.dropna(axis=0) axis=0 for rows and axis=1 for columns

,Student ID,Operating System,DSA,Frontend,Backend,Machine Learning,Data Analytics,Attendance (Operating System),Attendance (DSA),Attendance (Frontend),Attendance (Backend),Attendance (Machine Learning),Attendance (Data Analytics),Project 1,Project 2,Project 3,Project 4
0,1,88,78,68,70,86,86,75,97,86,74,76,83,Game Development,Web Development,Game Development,Data Science
1,2,65,68,78,92,84,64,71,83,97,96,96,97,Robotics,Web Development,AI,Game Development
2,3,73,69,82,74,67,76,96,91,99,84,70,85,Data Science,Web Development,Data Science,Web Development
3,4,85,95,58,52,89,51,79,91,70,96,76,86,Game Development,Data Science,Web Development,Game Development
4,5,64,55,70,50,84,58,74,87,86,81,94,91,AI,Cybersecurity,Cybersecurity,Web Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,98,89,75,51,70,82,71,76,81,96,75,88,Machine Learning,Game Development,Robotics,AI
996,997,82,77,72,90,76,94,82,72,91,90,72,75,Game Development,Machine Learning,AI,AI
997,998,53,55,63,95,55,98,88,80,89,77,71,72,Cybersecurity,Machine Learning,Game Development,Web Development
998,999,65,83,56,84,81,75,74,95,72,98,80,80,Robotics,Web Development,Cybersecurity,Cybersecurity
999,1000,52,56,64,100,60,72,77,99,72,98,83,79,Cybersecurity,Web Development,Machine Learning,Cybersecurity

In [11]:
df.dropna(how='any') # if how='any' then it deletes the row if there is one or more than one missing value and is how='all' it deletes the row only if all the columns of a row are missing

,Student ID,Operating System,DSA,Frontend,Backend,Machine Learning,Data Analytics,Attendance (Operating System),Attendance (DSA),Attendance (Frontend),Attendance (Backend),Attendance (Machine Learning),Attendance (Data Analytics),Project 1,Project 2,Project 3,Project 4
0,1,88,78,68,70,86,86,75,97,86,74,76,83,Game Development,Web Development,Game Development,Data Science
1,2,65,68,78,92,84,64,71,83,97,96,96,97,Robotics,Web Development,AI,Game Development
2,3,73,69,82,74,67,76,96,91,99,84,70,85,Data Science,Web Development,Data Science,Web Development
3,4,85,95,58,52,89,51,79,91,70,96,76,86,Game Development,Data Science,Web Development,Game Development
4,5,64,55,70,50,84,58,74,87,86,81,94,91,AI,Cybersecurity,Cybersecurity,Web Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,98,89,75,51,70,82,71,76,81,96,75,88,Machine Learning,Game Development,Robotics,AI
996,997,82,77,72,90,76,94,82,72,91,90,72,75,Game Development,Machine Learning,AI,AI
997,998,53,55,63,95,55,98,88,80,89,77,71,72,Cybersecurity,Machine Learning,Game Development,Web Development
998,999,65,83,56,84,81,75,74,95,72,98,80,80,Robotics,Web Development,Cybersecurity,Cybersecurity
999,1000,52,56,64,100,60,72,77,99,72,98,83,79,Cybersecurity,Web Development,Machine Learning,Cybersecurity

In [ ]:
df.dropna(inplace=True) # Replaces the original dataset